<div class="breakdance-swiper-wrapper" data-swiper-id="%%ID%%">
  <div class="swiper">
    <div class="swiper-wrapper">
      %%CHILDREN%%
    </div>
  </div>

  {{ macros.AtomV1SwiperPaginationAndArrowsHtml(design.slider) }}
</div>
