<div class="bde-content-toggle__switcher">
  <span class="bde-content-toggle__text js-content-toggle-label">{{ content.label.label_left }}</span>
 <label class="bde-content-toggle__switch">
  <input type="checkbox" class="js-content-toggle-checkbox bde-content-toggle__checkbox" />
  <span class="bde-content-toggle__slider"></span>
 </label>
  <span class="bde-content-toggle__text js-content-toggle-label">{{ content.label.label_right }}</span>
</div>
%%CHILDREN%%